<div id="wrapper">
    <video id="home1" width="1024" height="576" poster="images/video.jpg" controls="controls" preload="none">
        <source type="video/mp4" src="https://github.com/sheric98/QoEProject/raw/master/videos/buffer_location3/1.mp4
" />
    </video>
    <video id="home2" width="1024" height="576" poster="images/video.jpg" controls="controls" preload="none">
        <source type="video/mp4" src="https://github.com/sheric98/QoEProject/raw/master/videos/buffer_location3/1.mp4
" />
    </video>
    <div class="clear"></div>
</div>
